<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273622575743-pi8s4qh80p5nfjb78sbql1j138dugeh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273622575743-pi8s4qh80p5nfjb78sbql1j138dugeh0</string>
	<key>API_KEY</key>
	<string>AIzaSyCqiEk7tL5k1Pw7AKHOkAnB3nw8QHkwMuo</string>
	<key>GCM_SENDER_ID</key>
	<string>273622575743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getbuyr.app</string>
	<key>PROJECT_ID</key>
	<string>getbuyr-84e2d</string>
	<key>STORAGE_BUCKET</key>
	<string>getbuyr-84e2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273622575743:ios:2c8d97f6a81f805ac3ad4a</string>
</dict>
</plist>